%section
  %h3 My Page here

  %img{src: "http://marxjs.com/images/a-night-in-casablanca-groucho-marx.jpg", alt: "Groucho Marx"}

  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt iste corrupti deserunt maxime, cum quisquam deleniti, provident in dolor. Facere beatae ducimus cumque veritatis neque quia dicta, unde, ut impedit.

  %p Incidunt iste corrupti deserunt maxime, cum quisquam deleniti, provident in dolor. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere beatae ducimus cumque veritatis neque quia dicta, unde, ut impedit.
